.tasks {
  width: 100%;
  max-width: 736px;
  margin: 0 auto;
  margin-top: 90px;
  padding: 0 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px;
}

.header div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.textPurple {
  color: #ffffff;
}

.header span {
  background: #232323;
  color: #ffffff;
  padding: 9px;
  margin: 20px 20px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}